In [9]:
import pandas as pd
df = pd.read_csv(r"C:\Users\nsmith\OneDrive - Georgia Poultry Laboratory Network\CareerFoundry\02 - Data Immersion\Achievement 6\01 Data\StormEvents_locations-ftp_v1.0_d2024_c20250317.csv.gz", compression='gzip')
df.head()
df.describe

<bound method NDFrame.describe of        YEARMONTH  EPISODE_ID  EVENT_ID  LOCATION_INDEX  RANGE AZIMUTH  \
0         202404      188809   1161227               1   0.90      SW
1         202404      188809   1161228               1   0.00       N
2         202404      188809   1161229               1   0.57       E
3         202404      188809   1161230               1   0.96       S
4         202404      188809   1161231               1   0.62       N
...          ...         ...       ...             ...    ...     ...
48107     202408      196334   1215076               1   0.90      SE
48108     202408      196334   1215079               1   0.35     WSW
48109     202408      196334   1215080               1   1.50     SSW
48110     202408      196338   1215115               1   0.84       E
48111     202408      196338   1215115               2   0.89      NW

               LOCATION  LATITUDE  LONGITUDE     LAT2     LON2
0            HAPPY TOWN   33.9900   -81.0900  3359400   815400
1              COLUMBIA   34.0000   -81.0200     3400   811200
2              COLUMBIA   34.0000   -81.0100     3400    81600
3              BALLTOWN   33.5661   -81.7300  3333966  8143800
4              COLUMBIA   34.0090   -81.0210    34540   811260
...                 ...       ...        ...      ...      ...
48107           GRENADA   33.7700   -89.8100  3346200  8948600
48108            WINONA   33.4780   -89.7356  3328680  8944136
48109             COILA   33.3800   -89.9800  3322800  8958800
48110  SPIRIT LAKE LAKE   43.4713   -95.1034  4328278   956204
48111           ORLEANS   43.4799   -95.0915  4328794   955490

[48112 rows x 11 columns]>

In [18]:
import pandas as pd
df = pd.read_csv(r"C:\Users\nsmith\OneDrive - Georgia Poultry Laboratory Network\CareerFoundry\02 - Data Immersion\Achievement 6\01 Data\StormEvents_details-ftp_v1.0_d2024_c20250317.csv.gz", compression='gzip')
df.head
df.columns
df['EVENT_TYPE'].unique()
# Filter for rows where EVENT_TYPE is 'HAIL'
hail_df = df[df['EVENT_TYPE'] == 'Hail']

# # Count occurrences of each STATE
state_counts = hail_df['STATE'].value_counts()

# # Print the results
state_counts

TEXAS                   1587
KANSAS                   807
OKLAHOMA                 771
NEBRASKA                 512
MISSOURI                 499
IOWA                     417
COLORADO                 415
ILLINOIS                 373
MINNESOTA                336
SOUTH DAKOTA             317
WISCONSIN                225
PENNSYLVANIA             215
ARKANSAS                 193
OHIO                     189
NORTH DAKOTA             174
TENNESSEE                169
INDIANA                  149
SOUTH CAROLINA           129
LOUISIANA                122
MICHIGAN                 110
MISSISSIPPI              107
GEORGIA                  104
NORTH CAROLINA           104
KENTUCKY                 103
NEW MEXICO                98
MONTANA                   96
VIRGINIA                  81
ALABAMA                   81
FLORIDA                   75
WYOMING                   59
NEW YORK                  54
WEST VIRGINIA             49
MASSACHUSETTS             36
NEW HAMPSHIRE             35
UTAH                      34
ARIZONA                   31
CONNECTICUT               22
CALIFORNIA                21
IDAHO                     21
MARYLAND                  16
MAINE                     15
OREGON                     9
RHODE ISLAND               8
NEW JERSEY                 6
VERMONT                    6
PUERTO RICO                6
NEVADA                     2
WASHINGTON                 2
ALASKA                     1
DISTRICT OF COLUMBIA       1
Name: STATE, dtype: int64

In [10]:
import pandas as pd
df = pd.read_csv(r"C:\Users\nsmith\OneDrive - Georgia Poultry Laboratory Network\CareerFoundry\02 - Data Immersion\Achievement 6\01 Data\StormEvents_fatalities-ftp_v1.0_d2024_c20250317.csv.gz", compression='gzip')
df.head
df.columns
df.describe

<bound method NDFrame.describe of       FAT_YEARMONTH  FAT_DAY  FAT_TIME  FATALITY_ID  EVENT_ID FATALITY_TYPE  \
0            202410       16         0        57962   1211048             D
1            202410       19         0        54831   1212790             D
2            202405       25         0        53067   1182292             D
3            202405       25         0        53068   1182292             D
4            202404        9         0        53096   1190773             I
...             ...      ...       ...          ...       ...           ...
1042         202405        3         0        53819   1209186             D
1043         202407       25         0        53903   1209484             D
1044         202409       14         0        54948   1211397             D
1045         202407       31         0        57365   1218391             I
1046         202406       23         0        57996   1220353             D

            FATALITY_DATE  FATALITY_AGE FATALITY_SEX    FATALITY_LOCATION  \
0     10/16/2024 00:00:00           NaN            F             In Water
1     10/19/2024 00:00:00           NaN          NaN              Unknown
2     05/25/2024 00:00:00           2.0            F  Mobile/Trailer Home
3     05/25/2024 00:00:00           5.0            M  Mobile/Trailer Home
4     04/09/2024 00:00:00          64.0            F                Other
...                   ...           ...          ...                  ...
1042  05/03/2024 00:00:00          39.0            M   Outside/Open Areas
1043  07/25/2024 00:00:00          24.0            F   Outside/Open Areas
1044  09/14/2024 00:00:00          24.0            M             In Water
1045  07/31/2024 00:00:00          44.0            M   Outside/Open Areas
1046  06/23/2024 00:00:00          59.0            M   Outside/Open Areas

      EVENT_YEARMONTH
0              202410
1              202410
2              202405
3              202405
4              202404
...               ...
1042           202405
1043           202407
1044           202408
1045           202407
1046           202406

[1047 rows x 11 columns]>